# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Folders
bin/
obj/
out/

# Rider
.idea/
*.sln.iml

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg
project.lock.json
*.nuget.props
*.nuget.targets

# Logs
*.log

# OS Files
Thumbs.db
.DS_Store

# Others
*.dbmdl
*.pdb
*.cache
*.zip
*.bak
*.swp
